[audio]
sample_rate = 48000
block_size = 1024
channels = 2
queue_maxsize = 10

[pulse_sinks]
obs_input_name = OBS_Input
obs_input_description = OBS_Input
audio_output_name = Audio_Stream_Output
audio_output_description = Audio_Stream_Output

[pulse_properties]
app_name = Audio_Bridge_Primary
media_name = Audio_Bridge_Primary